/* created presets for colors */
:root{
    --blue: #264653;
    --border:15px;
    --aqua: #2ababe;
    --green: #2a9d8f;
    --yellow: hsl(43, 54%, 67%);
    --tan: #f4a261; 
    --orange: #e76f51;
    --lightblue: #219ebc;
}

/* selected a specific target for style */
header a {
  text-decoration: none;
  color: black;
}

/* general style for the header */
header {
  display:flex;
  padding: 20;
  background: var(--tan);
  justify-content: space-between;
}
/* flex display for the list */
ul{
  display: flex;
  color: var(--tan); 
  align-items: flex-end;
}
li{
  align-items: flex-end;
  margin: 15px;
}
header h1.page-title {
  padding: 1rem 1.2rem;
  font-size: 4.5rem;
}
/* added background image to banner */
#subtitle{
background-image: url('back.png');
display: flex;
text-align: right;
padding: 10px;
width: 100%;
}

h2{
  background-color: var(--green);
  display: flex;
  flex-wrap: wrap;
  text-align: right;
  padding: 15px;
  margin: 2px black solid;
  color: var(--yellow);
}
/* added style to all the elements listed under the class left side */
.leftSide{ 
  width: 30%;
  height: auto;
  padding: 20px 0px 40px 0px;
  text-align: right;
  color: var(--blue);
  font-size: 2rem;

}
/* added style to all the elements listed under class text */
.text{
  padding: 30px;
  border-left: var(--green);
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  margin: 10px;
  width: 60%;
  height: max-content;
  color: var(--lightblue);
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box{
  display: flex;
  justify-content: space-between;
}
/* added style to images */
img{
vertical-align: middle;  
border-radius: 50%;
}
/* overwrite style for a specific object */
.lastP{
  border-radius: 0px;
  height: 80%;
  width: 80%;
}
/* added style to footer */
footer{
  padding: 30px;
  text-align: center;
  size: 1.5rem;
  color: var(--blue);
}

.h2 {
  text-decoration: none;
  color: black;
  size: 20px;
}